
.wrapper {
  display: flex;
  gap: 12px;
  width: 100%;
  padding: 0 32px;
}

.column {
  flex: 0 0 240px;
  min-width: 240px;
  flex-shrink: 1;
  flex-grow: 1;
  padding: 8px 8px;
  min-height: 60vh;
  background: #efefef;
  border-radius: 12px;
}

.columnActive {
  background: #e4e4e4;
}

.header {
  padding: 8px 0;
  margin-bottom: 8px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    font-weight: normal;
    color: #5a5a5a;
    font-size: 12px;
  }
}

.card {
  padding: 28px 12px 12px;
  border: solid 1px #e4e4e4;
  margin-bottom: 8px;
  background: white;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}


.orderNumber {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
}

.text {
  font-size: 12px;
  margin-bottom: 2px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.deadline {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 10px;
  color: #555555;
}

.time {
  position: absolute;
  left: 12px;
  bottom: 12px;
  font-size: 12px;
  color: #555555;
}

