@use '@/styles/colors' as *;

.common {
  height: 48px;
  padding: 0 54px;
  color: #fff;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.primary {
  background: $background-brand-default;
}

.neutral {
  background: $background-neutral-tertiary;
  color: black;
  border: solid 1px #8f8f8f;

  &:hover {
    background: $background-neutral-tertiary-hover;

  }
}

.outline {
  background: white;
  color: black;

  &:hover {
    background: $background-default-secondary;
  }
}