@use "@/styles/colors" as *;

.footer {
  background: white;
  border-top: solid 1px #8f8f8f;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 88px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
}

.remove {
  position: absolute!important;
  right: 24px!important;
  bottom: 24px!important;
}

.number {
  position: absolute;
  left: 16px;
  top: 16px;
  font-size: 40px;
  font-weight: bold;
  color: #a8a8a8;
}

.block {
  position: relative;
  border: solid 1px $border-default-default;
  border-radius: 16px;
  margin-bottom: 24px;
  margin-top: 40px;
  padding: 40px 32px;
}

.buttonAdd {
  margin-bottom: 60px;
}