@use "@/styles/colors" as *;

.wrapper {
  width: 860px;
  padding-bottom: 120px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 56px;
}

.footer {
  background: white;
  border-top: solid 1px #8f8f8f;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 88px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.col {
  &_1 {
    width: calc(33.33% - 16px);
  }
  &_2 {
    width: calc(66.66% - 16px);

  }
  &_3 {
    width: 100%;
  }
}

.block {
  border: solid 1px $border-default-default;
  border-radius: 16px;
  margin-bottom: 24px;
  margin-top: 40px;
  padding: 40px 32px;
}

.buttonAdd {
  margin-bottom: 60px;
}