@use "@/styles/colors" as *;

.input {
  width: 100%;
  color: black;
  border: 1px solid $border-default-default;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.label {
  margin-bottom: 8px;
  display: flex;
  color: black;
}