@use '@/styles/mixins' as *;

.bg {
  border-bottom: 1px solid #b6b6b6;

}

.wrapper {
  @include layout;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.right {
  display: flex;
  align-items: center;
  gap: 60px;
}

.user {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.email {
  font-size: 16px;
}

.role {
  font-size: 16px;
  color: #b6b6b6;
}

.modal {
  position: absolute;
  right: 0;
  top: 100%;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}