@use '@/styles/mixins' as *;

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 100px;

}

.wrapper {
  display: flex;
  min-height: 100%;
}

.content {
  padding: 40px;
  width: 100%;
}